<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node js Basic</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav>
        <div class="heading">
            <h4>Navigation Bar</h4>
        </div>
        <ul class="nav-links">
            <li><a class="active" href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <div>
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i=0; i < dataTest.length; i++) { %>
                        <tr>
                            <td>
                                <%= dataTest[i].id %>
                            </td>
                            <td>
                                <%= dataTest[i].name %>
                            </td>
                            <td>
                                <%= dataTest[i].age %>
                            </td>
                            <td>
                                <a class="btn" href="/detail/<%= dataTest[i].id %>">Details</a>
                                <button class="btn" type="button">Delete</button>
                                <button class="btn" type="button">Edit</button>
                            </td>

                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div class="formbg-outer">
        <div class="formbg">
            <div class="formbg-inner padding-horizontal--48">
                <!-- <span class="padding-bottom--15">Sign in to your account</span> -->
                <form action="/create-user" method="POST">
                    <div class="field padding-bottom--24">
                        <label for="email">Name</label>
                        <input type="text" name="name">
                    </div>
                    <div class="field padding-bottom--24">
                        <div class="grid--50-50">
                            <label for="password">Age</label>
                        </div>
                        <input type="text" name="age">
                    </div>
                    <div class="field padding-bottom--24 btn-submit">
                        <button class="btn" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</body>

</html>